<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Weather App</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <div class="weather-card">

            <h1>🌤 Weather App</h1>

            <form method="POST">

                <input
                    type="text"
                    name="city"
                    placeholder="Enter City Name"
                    required>

                <button type="submit">
                    Search
                </button>

            </form>

            {% if weather %}

            <div class="result">

                <h2>{{ weather.city }}</h2>

                <h3>{{ weather.temp }}°C</h3>

                <p>
                    Humidity:
                    {{ weather.humidity }}%
                </p>

                <p>
                    {{ weather.description }}
                </p>

            </div>

            {% endif %}

        </div>

    </div>

</body>

</html>