*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #4facfe,
        #00f2fe
    );
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.weather-card{

    width:400px;

    padding:35px;

    border-radius:25px;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,0.2);

    box-shadow:
    0 8px 32px rgba(0,0,0,.25);

    text-align:center;

    color:white;
}

.weather-card h1{
    margin-bottom:25px;
    font-size:32px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input{

    height:55px;

    border:none;

    outline:none;

    border-radius:15px;

    padding:0 15px;

    font-size:18px;

    background:rgba(255,255,255,0.2);

    color:white;
}

input::placeholder{
    color:white;
}

button{

    height:55px;

    border:none;

    border-radius:15px;

    cursor:pointer;

    font-size:18px;

    font-weight:bold;

    background:white;

    color:#2575fc;

    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
}

.result{

    margin-top:30px;

    padding:20px;

    border-radius:20px;

    background:rgba(255,255,255,0.1);
}

.result h2{
    font-size:30px;
    margin-bottom:10px;
}

.result h3{
    font-size:55px;
    margin-bottom:15px;
}

.result p{
    margin:8px 0;
    font-size:18px;
}

@media(max-width:500px){

    .weather-card{
        width:100%;
    }

    .result h3{
        font-size:40px;
    }
}